.list {
  list-style: none;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  width: 300px;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  background-color: aliceblue;
  box-shadow: 0px 10px 30px rgba(63 77 93 / 45%);
}
.name {
  padding-left: 10px;
  font-weight: 600;
  font-size: 20px;
}
.Online {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 5px;
  background-color: green;
}
.Offline {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 5px;
  background-color: red;
}
